/*Submit button css*/
input[type=submit]{
	color:#fff;
	background-color:#337ab7;
	font-weight:bold;
	font-size: 15px;
	border-color:#2e6da4;
	margin: 12px;
	border-radius: 6px;
}

input[type=submit].focus,.btn-primary:focus{
	color:#fff;
	background-color:#122b40;
	border-color:#286090;
}

input[type=submit]:hover{
	color:#fff;
	background-color:#ff0000;
	border-color:#204d74;
}
input[type=submit].active {
	color:#fff;
	background-color:#286090;
	border-color:#204d74;
}

select, input{
	margin: 10px;
	padding: 5px;
}

select {
	font-size: 14px;
}

select option{
	font-size: 14px;
}

#intro {
	font-size: 20px;
	color: blue;
}

body p.description {
	font-size: 16px;
	background-color: #f9f9f9;
}

.indent {
	margin-left: 40px;
	font-size: 18px;
}

/*navbar*/
nav {
	position: fixed;
	top: 0px;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 2px solid #333; 
}

#navbartitle {
	float: left;
	display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 30px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav, ul.footernav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #0099DA;*/
    background-color: #0059b3;
}

/* Float the list items side by side */
ul.topnav li, ul.footernav li {
	float: right;
}

/* Style the links inside the list items */
ul.topnav li a, ul.footernav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

/*background color of links on hover */
ul.topnav li a:hover, ul.footernav li a:hover:not(#notlink) {
	background-color: #555;
}

ul.topnav li:not(:first-child):before, ul.footernav li:not(:first-child):before {
    content: " | ";
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}

h1 { 
	color: #111;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 40px; font-weight: 700; 
	line-height: 50px; 
	margin: 0 0 0; padding: 10px 30px; 
	text-align: center; 
	text-transform: uppercase; 
}


h2 { 
	color: #111;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #ECECEC;
	font-size: 25px; 
	font-weight: 700;
	line-height: 38px;
	margin: 0 0 0px;
	padding: 20px 30px;
}

body {
    padding-top: 30px;
    font-size: 10px;
}

hr {
	margin: 8px 8px 0 0;
	border-top: 1px solid #8c8b8b;
}

.footer {
	width: 100%;
	border-top: 2px solid #333;
	margin-top: 40px;
	margin-bottom: 0px;
	height: 40px;
	background-color: #0059b3;
	display: block;
}

.instruction {
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 20px;
	color: #2c87f0;
}

.mini-instruction {
	font-weight: bold;
	color: #2c87f0;
}

#selectAllYears {
	margin-left: 25px;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	font: italic bold 14px sans-serif;
	color: white;
	border-color : #2989d8;
 	background-color: blue;
}

#selectAllYears:hover{
	color: white;
	background-color:#ff0000;
	border-color: #2989d8;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
